<!DOCTYPE html>
<html>
  <head>
    <title>Whatsana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.whatsanaLogo = "<%= image_url('whatsana-logo.png') %>";
      window.four_oh_img = "<%= image_url('fouroh-img.png') %>";
      window.signup_wallpaper = "<%= image_url('signup-wallpaper.jpg') %>";
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
