<!DOCTYPE html>
<html>
  <head>
    <title>Whatsana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.whatsanaLogo = "<%= image_url('whatsana-logo.png') %>";
      window.four_oh_img = "<%= image_url('fouroh-img.png') %>";
      window.signup_wallpaper = "<%= image_url('signup-wallpaper.jpg') %>";
      window.home_page_yosemite = "<%= image_url('yosemite.jpg') %>";
      window.whatsanaWhiteLogo = "<%= image_url('whatsana_white.jpg') %>";
    </script>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="<%= image_url('whatsana-logo.png') %>"/>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
